---
layout: default
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8"> 
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>  
        <table>      <!-- Damit beginnt eine Tabelle -->
<colgroup>   <!-- Hier wird die Breite der 3 Spalten definiert -->
    <col width="50%">   <!-- Spalte 1 ist 33% breit, col = column -->
    <col width="50%">
</colgroup>
<tr>

        <img src="https://preview--happy-plankton-d87df.stackbit.dev/_static/app-assets/fabrik_model.svg">
        <div class="content">{{content}}</div>

</tr>
</table>

        <img src="https://preview--happy-plankton-d87df.stackbit.dev/images/illustrations/fabrik.svg">
      </div>
          </div>
  </div>
</div>